/* CSS declarations go here */
.row {
    margin-bottom: 50px;
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-6 {
    width: 50%;
    margin-left: 25%;
}
.col-md-3 {
    width: 25%;
    position: fixed;
    height: 100%;
    background-color: #ADD8E6;
    overflow: -moz-hidden-unscrollable;
}
